.profile-picture{
    max-width: 400px;
    max-height: 400px;
    display: block;
}

.file-upload{
    display: none;
}

.upload-button{
    font-size: 1.2em;
}

.p-image {
    position: absolute;
    top: 167px;
    right: 30px;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  }

  .p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  }